@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

#testimonial{
    font-family: 'DM Sans';
}

.customer{
    width: 100px !important;
    height: 100px !important;
}

.box-card{
    border: 1px solid;
}