@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

#blog{
    font-family: 'DM Sans';
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.bold{
    font-weight: bold;
}

@media screen and (max-width: 768px){
    .blog-flex{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
}