@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

#home{
    font-family: 'DM Sans';
}


.property1, .property2{
    border-radius: 50% 50% 0% 0%;
}

.property1{
    border-left:1px solid #19B7BE;
    padding-left: 10px;
    margin-top: 25px;
}

.property2{
    border-right:1px solid #19B7BE;
    padding-right: 10px;
    margin-top: 80px;
}

@media screen and (min-width: 768px){
#special .hide2{
    display: none;
}
}

@media screen and (max-width: 768px){
    h1{
        font-size: 20px;
    }
    p{
        font-size: 14px;
    }

    #hide{
        display: none;
    }

    .hide1{
        display: none;
    }

   #special{
    display: block;
    width: 100%;
   }
}