@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

#home{
    font-family: 'DM Sans';
}

.property1, .property2{
    border-radius: 50% 50% 0% 0%;
}

.property1{
    border-left:1px solid #19B7BE;
    padding-left: 10px;
    margin-top: 25px;
}

.property2{
    border-right:1px solid #19B7BE;
    padding-right: 10px;
    margin-top: 80px;
}



@media (max-width: 768px){

    .home-row{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    h1, .column-1 p strong{
        text-align: center;
    }

}
